.my{
 
  background-color:pink;
  width: 100%;
  height: 600px;
  overflow: hidden;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ani-me{
  margin-left: 200px;
  width: 350px;
  height:450px;
}

.hello{
  margin-right: 250px;
  font-size: 18px;
}

.icongroup{
  display: flex;
    justify-content: flex-start;
}
.icon{
  padding: 30px;
}

@media (max-width: 600px){
	
	.my{
    margin: -100px 0;
    background-color:pink;
    width: 100%;
    height:600px;
    overflow: hidden;
   
	}
    
}
