.x-main{
    height: 100vh;
    margin:-90px 0 0 0;
    
}



.e6-3.x-col {z-index:1;font-size:1em;background-color:transparent;
}
.e6-7.x-col {z-index:1;font-size:1em;background-color:transparent;
}

.e6-2.x-row {
  z-index:1;margin:0px auto 0px auto;padding:1px;font-size:1em;background-color:transparent;
  }
.e6-6.x-row {
  z-index:1;margin:0px auto 0px auto;padding:1px;font-size:1em;background-color:transparent;
  }

.e6-2 > .x-row-inner {
  flex-direction:row;justify-content:flex-start;align-items:stretch;align-content:stretch;
  margin:calc(((1rem / 2) + 1px) * -1) calc(((1rem / 2) + 1px) * -1);
  }
.e6-6 > .x-row-inner {
  flex-direction:row;justify-content:flex-start;align-items:stretch;align-content:stretch;
  margin:calc(((1rem / 2) + 1px) * -1) calc(((1rem / 2) + 1px) * -1);
  }
.e6-2 > .x-row-inner > * {
  margin:calc(1rem / 2) calc(1rem / 2);
  }
.e6-6 > .x-row-inner > * {
    margin:calc(1rem / 2) calc(1rem / 2);
    }

    
.e6-1.x-section {
  margin:0em;padding:0px 0px 0px 0px;background-color:rgb(0,0,0);z-index:1;
  }
.e6-5.x-section {
  margin:0em;padding:0px 0px 0px 0px;background-color:transparent;z-index:1;
  }
.e6-4.x-frame {
  width:100%;font-size:16px;background-color:#ffffff;
  }
.e6-4 .x-frame-inner {
  padding-bottom:calc((9 / 16) * 100%);
  }
.e6-4 .x-mejs .mejs-controls {
  margin:auto 15px 15px 15px;border-radius:3px;background-color:rgba(0,0,0,0);
  }
.e6-4 .x-mejs .mejs-button button {
  color:rgba(0,235,186,0);
  }
.e6-4 .x-mejs .mejs-button button:hover,.e6-4 .x-mejs .mejs-button button:focus {
  color:rgba(255,0,0,0);
  }
.e6-4 .x-mejs .mejs-time-total {
  border-radius:2px;background-color:rgba(255,255,255,0);
  }
.e6-4 .x-mejs .mejs-time-loaded {
  background-color:rgba(255,255,255,0);
  }
.e6-4 .x-mejs .mejs-time-current {
  background-color:rgba(255,255,255,0);}
  .e6-4 .x-mejs .mejs-time {color:rgba(255,255,255,0.5);
  }








@media (max-width:600px) {
  .e6-2 > .x-row-inner > *:nth-child(1n - 0) {flex-basis:calc(100% - 1rem);}
  .e6-6 > .x-row-inner > *:nth-child(1n - 0) {flex-basis:calc(100% - 1rem);}
     .x-main{
      z-index:1;
      margin:-30px 0 0 0;
     }


  }

@media (min-width:600px) and (max-width:978.98px) {
  .e6-2 > .x-row-inner > *:nth-child(1n - 0) {flex-basis:calc(100% - 1rem);}
  .e6-6 > .x-row-inner > *:nth-child(1n - 0) {flex-basis:calc(100% - 1rem);}
}
@media (min-width:979px) and (max-width:1199.98px) {
  .e6-2 > .x-row-inner > *:nth-child(1n - 0) {flex-basis:calc(100% - 1rem);}
  .e6-6 > .x-row-inner > *:nth-child(1n - 0) {flex-basis:calc(100% - 1rem);}
}
@media (min-width:1200px) {
  .e6-2 > .x-row-inner > *:nth-child(1n - 0) {
    flex-basis:calc(100% - 1rem);
    }
.e6-6 > .x-row-inner > *:nth-child(1n - 0) {
  flex-basis:calc(100% - 1rem);
}
}