.uxprojects {
	margin-top: -400px;
    height: 50px;
    
	background-color:white;
	
	display: flex;
	
}
.buttons{
	padding: 30px;
	width: 300px;
	margin: auto auto;
	display: flex;
	justify-content: space-between;
	
}
