
.wel{
    z-index:2;
    margin:0px 0 0 0;
    background-color:transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
    display: none;
}
a{
    z-index:2;
}
@media (max-width: 600px){
	
    .wel{
        display: block;
	}
	
    
}
