<div class="header"><a class="logo" href=""></a>
    <ul>
        <li><a href="#交互作品">交互作品</a></li>
        <li><a href="#关于我">关于我</a></li>
        <li><a href="#其他">其他</a></li>
    </ul>
    <div class="mobile-nav-toggle"><span></span></div>
</div>