.pic{
    
    z-index:1;
    height: 1100px;
    
}

.pic-header{
    z-index:1;
    height: 300px;
    margin-top: -110px;
    background-color:black;
}
.pic-body{
    margin:0 auto;
    margin-top: 50px;
    width:90%;
}
body{
    margin: 4px;
    font-family: Helvetica;
}
.pic-body{
    column-count:3 ;
    column-gap: 0;

}
.pic-item{
    padding: 5px;
}
.pic-item img{
    display: block;
    width: 100%;
    height: auto;
}




@media (max-width: 600px){
	.pic-body{
        margin-top: 10px;
    }
    .pic-body{
        column-count:2 ;
        
    
    }
    
}